@using System.Web.Optimization
@using Newtonsoft.Json
@model FitnessProject.Web.Models.GlobalModel

@Scripts.Render("~/bundles/jquery.peity/js")
<div class="content-body">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl col-md-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                        <span class="donut1" data-peity='{ "fill": ["rgb(192, 255, 134)", "rgba(255, 255, 255, 1)"],   "innerRadius": 45, "radius": 10}' id="workout_circle"></span>
                        <small class="text-primary">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M39.9353 18.3544C39.8731 18.1666 38.3337 13.75 32.5 13.75C25.9703 13.75 22.8666 17.9659 21.795 19.8719C20.6306 19.1822 19.1838 18.75 17.5 18.75C15.7922 18.75 14.35 19.1375 13.1275 19.7072C13.5697 16.695 13.6987 13.1119 13.7353 11.25H17.5C17.9175 11.25 18.3081 11.0413 18.54 10.6934L21.04 6.94344C21.4075 6.39156 21.2806 5.64813 20.7494 5.25031C18.3166 3.42531 15.1269 1.25 13.75 1.25C11.6137 1.25 6.95688 6.24344 5.16469 9.38C0.0584378 18.3153 0 31.925 0 32.5C0 32.8797 0.172188 33.2391 0.46875 33.4759C7.56469 39.1522 15.7519 40 20 40C23.3716 40 29.9756 39.4391 36.3306 35.6834C38.5938 34.3456 40 31.8706 40 29.2244V18.75C40 18.6156 39.9781 18.4822 39.9353 18.3544ZM37.5 29.2244C37.5 30.9912 36.565 32.6419 35.0584 33.5316C29.2162 36.9844 23.1166 37.5 20 37.5C16.9178 37.5 9.15156 36.9453 2.51094 31.8981C2.58406 29.19 3.14094 17.96 7.33531 10.62C9.09187 7.54813 12.7112 4.16312 13.7722 3.76562C14.4606 3.96406 16.4566 5.23219 18.2972 6.55125L16.8309 8.75H12.5C11.8091 8.75 11.25 9.30969 11.25 10C11.25 10.0822 11.2344 17.9659 10.185 21.6878C9.46375 22.3391 8.88656 22.9872 8.43125 23.4994C8.2175 23.7403 8.02969 23.9522 7.86594 24.1166C7.3775 24.605 7.3775 25.3959 7.86594 25.8841C8.35437 26.3722 9.14531 26.3725 9.63344 25.8841C9.82625 25.6913 10.0472 25.4441 10.3 25.1603C11.6003 23.6975 13.7756 21.25 17.5 21.25C20.5884 21.25 22.5 23.1966 22.5 25C22.5 25.6903 23.0591 26.25 23.75 26.25C24.4409 26.25 25 25.6903 25 25C25 23.8181 24.5506 22.6022 23.7313 21.5581C24.1503 20.66 26.5119 16.25 32.5 16.25C35.99 16.25 37.2228 18.39 37.5 18.9922V29.2244Z" fill="white"></path>
                            </svg>
                        </small>
                        <span class="circle bg-primary"></span>
                    </div>
                    <h2 class="fs-24 text-black font-w600 mb-0" id="workout_progress"></h2>
                    <span class="fs-14">Exercises Completed</span>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                        <span class="donut1" data-peity='{ "fill": ["rgb(255, 213, 174)", "rgba(255, 255, 255, 1)"],   "innerRadius": 45, "radius": 10}' id="nutrition_circle"></span>
                        <small class="text-primary">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip2)">
                                    <path d="M33.82 11.4053C34.0805 11.1923 34.332 10.9653 34.5731 10.7242C36.4537 8.84367 37.4895 6.34328 37.4895 3.68359V3.68234C37.4895 3.03516 36.9636 2.51047 36.3164 2.51047C33.6567 2.51047 31.1563 3.54625 29.2757 5.42687C29.0346 5.66797 28.8076 5.91945 28.5946 6.18C27.991 2.67508 24.9298 0 21.2551 0C20.6079 0 20.0832 0.524687 20.0832 1.17188V2.81305C20.0832 4.95719 20.8022 6.99062 22.125 8.63914C19.0591 8.29398 15.869 9.29383 13.5229 11.6401C7.47433 17.6886 0.36706 37.5919 0.067451 38.4362C-0.0837209 38.8622 0.0236228 39.3371 0.343232 39.6567C0.662842 39.9763 1.13776 40.0837 1.56378 39.9325C2.40808 39.6329 22.3114 32.5255 28.3599 26.477C30.706 24.1309 31.706 20.9409 31.3608 17.8749C33.0094 19.1977 35.0428 19.9167 37.1869 19.9167H38.8281C39.4753 19.9167 40 19.392 40 18.7448C40 15.0702 37.3249 12.009 33.82 11.4053ZM30.933 7.08414C32.0653 5.9518 33.4917 5.22 35.0398 4.96008C34.78 6.50812 34.0482 7.93453 32.9157 9.06688C31.7835 10.1991 30.3575 10.9309 28.8089 11.1909C29.0689 9.64273 29.8007 8.21649 30.933 7.08414ZM22.427 2.47945C24.6784 3.01047 26.3593 5.03656 26.3593 7.44789V9.63961L24.4736 7.75398C23.1538 6.43414 22.427 4.67945 22.427 2.81305V2.47945ZM19.828 29.4677L18.3182 27.9579C17.8606 27.5002 17.1185 27.5003 16.6609 27.9579C16.2032 28.4155 16.2032 29.1575 16.6609 29.6152L17.6477 30.6019C13.2707 32.7998 7.9937 35.0181 3.15104 36.8489C4.21644 34.0308 5.54269 30.7277 6.98815 27.4736L7.87448 28.3599C8.33206 28.8175 9.07409 28.8175 9.53175 28.3599C9.9894 27.9023 9.9894 27.1603 9.53175 26.7027L8.0244 25.1953C9.59073 21.8356 10.9352 19.342 12.0686 17.4916L15.4057 20.8287C15.8633 21.2862 16.6053 21.2862 17.063 20.8287C17.5207 20.3711 17.5207 19.6291 17.063 19.1714L13.3816 15.49C14.0934 14.4868 14.6916 13.786 15.1803 13.2973C18.3578 10.1198 23.5244 10.119 26.7027 13.2973C30.1591 16.7537 29.0887 21.0277 28.1953 22.7725L24.5942 19.1713C24.1366 18.7138 23.3946 18.7138 22.9369 19.1713C22.4792 19.6289 22.4792 20.3709 22.9369 20.8286L26.8139 24.7055C25.9139 25.6407 23.9935 27.2169 19.828 29.4677ZM37.1869 17.573C35.3205 17.573 33.5657 16.8461 32.246 15.5263L30.3603 13.6406H32.5521C34.9633 13.6406 36.9895 15.3216 37.5205 17.573H37.1869Z" fill="white"></path>
                                </g>
                                <defs>
                                    <clippath id="clip2">
                                        <rect width="40" height="40" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                        </small>
                        <span class="circle bg-warning"></span>
                    </div>
                    <h2 class="fs-24 text-black font-w600 mb-0" id="nutrition_progress"></h2>
                    <span class="fs-14">Calories Consumed</span>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                        <span class="donut1" data-peity='{ "fill": ["rgb(160,218,231)", "rgba(255, 255, 255, 1)"],   "innerRadius": 45, "radius": 10}' id="sleep_circle"></span>
                        <small class="text-primary">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip3)">
                                    <path d="M20 32.9688C17.4153 32.9688 15.3125 30.8659 15.3125 28.2812C15.3125 25.6966 17.4153 23.5938 20 23.5938C22.5847 23.5938 24.6875 25.6966 24.6875 28.2812C24.6875 30.8659 22.5847 32.9688 20 32.9688ZM20 26.7188C19.1384 26.7188 18.4375 27.4197 18.4375 28.2812C18.4375 29.1428 19.1384 29.8438 20 29.8438C20.8616 29.8438 21.5625 29.1428 21.5625 28.2812C21.5625 27.4197 20.8616 26.7188 20 26.7188ZM12.6373 20.7029C14.4202 20.687 16.1845 19.9548 17.8812 18.5266L15.8687 16.1359C13.593 18.0516 11.5632 18.0515 9.28742 16.1359L7.275 18.5267C8.99117 19.9711 10.775 20.7031 12.5782 20.7031C12.5979 20.7031 12.6177 20.703 12.6373 20.7029ZM32.5941 18.5994L30.6873 16.1236C28.3111 17.9535 26.259 17.9616 24.0334 16.1498L22.0605 18.5732C23.7464 19.9458 25.5029 20.632 27.2809 20.632C29.0471 20.6319 30.8346 19.9544 32.5941 18.5994ZM40 9.375H33.6466L40 2.92391V0H29.0625V3.125H35.4159L29.0625 9.57609V12.5H40V9.375ZM36.2987 15.625C36.6737 17.0209 36.875 18.4873 36.875 20C36.875 29.3049 29.3049 36.875 20 36.875C10.6951 36.875 3.125 29.3049 3.125 20C3.125 10.6951 10.6951 3.125 20 3.125C22.1183 3.125 24.146 3.51844 26.0156 4.23422V0.917344C24.0943 0.314141 22.0714 0 20 0C14.6578 0 9.63539 2.08039 5.85781 5.85781C2.08039 9.63539 0 14.6578 0 20C0 25.3422 2.08039 30.3646 5.85781 34.1422C9.63539 37.9196 14.6578 40 20 40C25.3422 40 30.3646 37.9196 34.1422 34.1422C37.9196 30.3646 40 25.3422 40 20C40 18.5101 39.8377 17.0452 39.5224 15.625H36.2987Z" fill="white"></path>
                                </g>
                                <defs>
                                    <clippath id="clip3">
                                        <rect width="40" height="40" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                        </small>
                        <span class="circle bg-info"></span>
                    </div>
                    <h2 class="fs-24 text-black font-w600 mb-0" id="sleep_progress"></h2>
                    <span class="fs-14">Sleep Hours</span>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                        <span class="donut1" data-peity='{ "fill": ["rgb(242, 255, 253)", "rgba(255, 255, 255, 1)"],   "innerRadius": 45, "radius": 10}'>8/8</span>
                        <small class="text-primary">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.1666 19.5283C27.8064 18.2461 29.0052 16.484 29.5958 14.4879C30.1863 12.4919 30.1393 10.3612 29.4611 8.39317C28.783 6.4251 27.5076 4.71772 25.8128 3.5091C24.118 2.30048 22.0883 1.65088 20.0066 1.65088C17.925 1.65088 15.8953 2.30048 14.2005 3.5091C12.5057 4.71772 11.2303 6.4251 10.5522 8.39317C9.87403 10.3612 9.82697 12.4919 10.4175 14.4879C11.0081 16.484 12.2069 18.2461 13.8466 19.5283C10.7486 20.761 8.09109 22.8939 6.21709 25.6517C4.34309 28.4096 3.33862 31.6657 3.33331 35V36.6667C3.33331 37.1087 3.50891 37.5326 3.82147 37.8452C4.13403 38.1577 4.55795 38.3333 4.99998 38.3333H35C35.442 38.3333 35.8659 38.1577 36.1785 37.8452C36.4911 37.5326 36.6666 37.1087 36.6666 36.6667V35C36.6624 31.6673 35.6599 28.4122 33.7884 25.6546C31.9169 22.8969 29.2622 20.7631 26.1666 19.5283ZM13.3333 11.6667C13.3333 10.3481 13.7243 9.0592 14.4569 7.96287C15.1894 6.86654 16.2306 6.01206 17.4488 5.50748C18.6669 5.00289 20.0074 4.87087 21.3006 5.12811C22.5938 5.38534 23.7817 6.02028 24.714 6.95263C25.6464 7.88498 26.2813 9.07286 26.5385 10.3661C26.7958 11.6593 26.6638 12.9997 26.1592 14.2179C25.6546 15.4361 24.8001 16.4773 23.7038 17.2098C22.6075 17.9423 21.3185 18.3333 20 18.3333C18.2319 18.3333 16.5362 17.631 15.2859 16.3807C14.0357 15.1305 13.3333 13.4348 13.3333 11.6667ZM6.66665 35C6.66665 31.4638 8.0714 28.0724 10.5719 25.5719C13.0724 23.0714 16.4638 21.6667 20 21.6667C23.5362 21.6667 26.9276 23.0714 29.4281 25.5719C31.9286 28.0724 33.3333 31.4638 33.3333 35H6.66665Z" fill="white"></path>
                            </svg>
                        </small>
                        <span class="circle bg-success"></span>
                    </div>
                    <h2 class="fs-24 text-black font-w600 mb-0">@Model.User.Username</h2>
                    <span class="fs-14">Try to give your best !</span>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-xxl-8">
            <div class="card">
                <div class="card-header flex-wrap pb-0 border-0">
                    <div class="mr-auto pr-3 mb-2">
                        <h4 class="text-black fs-20">Statistic</h4>
                        <p class="fs-13 mb-2 mb-sm-0 text-black">Try to achieve 100% in everything every day</p>
                    </div>
                    <div class="d-flex mr-3 mr-sm-5 mb-2">
                        <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                            <span class="donut1" data-peity='{ "fill": ["rgb(192, 255, 134)", "rgba(255, 255, 255, 1)"],   "innerRadius": 24, "radius": 0}'></span>
                            <small class="text-primary">
                                <svg width="24" height="24" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M39.9353 18.3544C39.8731 18.1666 38.3337 13.75 32.5 13.75C25.9703 13.75 22.8666 17.9659 21.795 19.8719C20.6306 19.1822 19.1838 18.75 17.5 18.75C15.7922 18.75 14.35 19.1375 13.1275 19.7072C13.5697 16.695 13.6987 13.1119 13.7353 11.25H17.5C17.9175 11.25 18.3081 11.0413 18.54 10.6934L21.04 6.94344C21.4075 6.39156 21.2806 5.64813 20.7494 5.25031C18.3166 3.42531 15.1269 1.25 13.75 1.25C11.6137 1.25 6.95688 6.24344 5.16469 9.38C0.0584378 18.3153 0 31.925 0 32.5C0 32.8797 0.172188 33.2391 0.46875 33.4759C7.56469 39.1522 15.7519 40 20 40C23.3716 40 29.9756 39.4391 36.3306 35.6834C38.5938 34.3456 40 31.8706 40 29.2244V18.75C40 18.6156 39.9781 18.4822 39.9353 18.3544ZM37.5 29.2244C37.5 30.9912 36.565 32.6419 35.0584 33.5316C29.2162 36.9844 23.1166 37.5 20 37.5C16.9178 37.5 9.15156 36.9453 2.51094 31.8981C2.58406 29.19 3.14094 17.96 7.33531 10.62C9.09187 7.54813 12.7112 4.16312 13.7722 3.76562C14.4606 3.96406 16.4566 5.23219 18.2972 6.55125L16.8309 8.75H12.5C11.8091 8.75 11.25 9.30969 11.25 10C11.25 10.0822 11.2344 17.9659 10.185 21.6878C9.46375 22.3391 8.88656 22.9872 8.43125 23.4994C8.2175 23.7403 8.02969 23.9522 7.86594 24.1166C7.3775 24.605 7.3775 25.3959 7.86594 25.8841C8.35437 26.3722 9.14531 26.3725 9.63344 25.8841C9.82625 25.6913 10.0472 25.4441 10.3 25.1603C11.6003 23.6975 13.7756 21.25 17.5 21.25C20.5884 21.25 22.5 23.1966 22.5 25C22.5 25.6903 23.0591 26.25 23.75 26.25C24.4409 26.25 25 25.6903 25 25C25 23.8181 24.5506 22.6022 23.7313 21.5581C24.1503 20.66 26.5119 16.25 32.5 16.25C35.99 16.25 37.2228 18.39 37.5 18.9922V29.2244Z" fill="white"></path>
                                </svg>
                            </small>
                            <span class="circle bg-primary"></span>
                        </div>
                    </div>
                    <div class="d-flex mr-3 mr-sm-5 mb-2">
                        <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                            <span class="donut1" data-peity='{ "fill": ["rgb(255, 213, 174)", "rgba(255, 255, 255, 1)"],   "innerRadius": 24, "radius": 0}'></span>
                            <small class="text-primary">
                                <svg width="24" height="24" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip2)">
                                        <path d="M33.82 11.4053C34.0805 11.1923 34.332 10.9653 34.5731 10.7242C36.4537 8.84367 37.4895 6.34328 37.4895 3.68359V3.68234C37.4895 3.03516 36.9636 2.51047 36.3164 2.51047C33.6567 2.51047 31.1563 3.54625 29.2757 5.42687C29.0346 5.66797 28.8076 5.91945 28.5946 6.18C27.991 2.67508 24.9298 0 21.2551 0C20.6079 0 20.0832 0.524687 20.0832 1.17188V2.81305C20.0832 4.95719 20.8022 6.99062 22.125 8.63914C19.0591 8.29398 15.869 9.29383 13.5229 11.6401C7.47433 17.6886 0.36706 37.5919 0.067451 38.4362C-0.0837209 38.8622 0.0236228 39.3371 0.343232 39.6567C0.662842 39.9763 1.13776 40.0837 1.56378 39.9325C2.40808 39.6329 22.3114 32.5255 28.3599 26.477C30.706 24.1309 31.706 20.9409 31.3608 17.8749C33.0094 19.1977 35.0428 19.9167 37.1869 19.9167H38.8281C39.4753 19.9167 40 19.392 40 18.7448C40 15.0702 37.3249 12.009 33.82 11.4053ZM30.933 7.08414C32.0653 5.9518 33.4917 5.22 35.0398 4.96008C34.78 6.50812 34.0482 7.93453 32.9157 9.06688C31.7835 10.1991 30.3575 10.9309 28.8089 11.1909C29.0689 9.64273 29.8007 8.21649 30.933 7.08414ZM22.427 2.47945C24.6784 3.01047 26.3593 5.03656 26.3593 7.44789V9.63961L24.4736 7.75398C23.1538 6.43414 22.427 4.67945 22.427 2.81305V2.47945ZM19.828 29.4677L18.3182 27.9579C17.8606 27.5002 17.1185 27.5003 16.6609 27.9579C16.2032 28.4155 16.2032 29.1575 16.6609 29.6152L17.6477 30.6019C13.2707 32.7998 7.9937 35.0181 3.15104 36.8489C4.21644 34.0308 5.54269 30.7277 6.98815 27.4736L7.87448 28.3599C8.33206 28.8175 9.07409 28.8175 9.53175 28.3599C9.9894 27.9023 9.9894 27.1603 9.53175 26.7027L8.0244 25.1953C9.59073 21.8356 10.9352 19.342 12.0686 17.4916L15.4057 20.8287C15.8633 21.2862 16.6053 21.2862 17.063 20.8287C17.5207 20.3711 17.5207 19.6291 17.063 19.1714L13.3816 15.49C14.0934 14.4868 14.6916 13.786 15.1803 13.2973C18.3578 10.1198 23.5244 10.119 26.7027 13.2973C30.1591 16.7537 29.0887 21.0277 28.1953 22.7725L24.5942 19.1713C24.1366 18.7138 23.3946 18.7138 22.9369 19.1713C22.4792 19.6289 22.4792 20.3709 22.9369 20.8286L26.8139 24.7055C25.9139 25.6407 23.9935 27.2169 19.828 29.4677ZM37.1869 17.573C35.3205 17.573 33.5657 16.8461 32.246 15.5263L30.3603 13.6406H32.5521C34.9633 13.6406 36.9895 15.3216 37.5205 17.573H37.1869Z" fill="white"></path>
                                    </g>
                                    <defs>
                                        <clippath id="clip2">
                                            <rect width="40" height="40" fill="white"></rect>
                                        </clippath>
                                    </defs>
                                </svg>
                            </small>
                            <span class="circle bg-warning"></span>
                        </div>
                    </div>
                    <div class="d-flex mr-3 mr-sm-5 mb-2">
                        <div class="d-inline-block mb-4 ml--12 position-relative donut-chart-sale">
                            <span class="donut1" data-peity='{ "fill": ["rgb(238, 252, 255)", "rgba(255, 255, 255, 1)"],   "innerRadius": 24, "radius": 0}'></span>
                            <small class="text-primary">
                                <svg width="24" height="24" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip3)">
                                        <path d="M20 32.9688C17.4153 32.9688 15.3125 30.8659 15.3125 28.2812C15.3125 25.6966 17.4153 23.5938 20 23.5938C22.5847 23.5938 24.6875 25.6966 24.6875 28.2812C24.6875 30.8659 22.5847 32.9688 20 32.9688ZM20 26.7188C19.1384 26.7188 18.4375 27.4197 18.4375 28.2812C18.4375 29.1428 19.1384 29.8438 20 29.8438C20.8616 29.8438 21.5625 29.1428 21.5625 28.2812C21.5625 27.4197 20.8616 26.7188 20 26.7188ZM12.6373 20.7029C14.4202 20.687 16.1845 19.9548 17.8812 18.5266L15.8687 16.1359C13.593 18.0516 11.5632 18.0515 9.28742 16.1359L7.275 18.5267C8.99117 19.9711 10.775 20.7031 12.5782 20.7031C12.5979 20.7031 12.6177 20.703 12.6373 20.7029ZM32.5941 18.5994L30.6873 16.1236C28.3111 17.9535 26.259 17.9616 24.0334 16.1498L22.0605 18.5732C23.7464 19.9458 25.5029 20.632 27.2809 20.632C29.0471 20.6319 30.8346 19.9544 32.5941 18.5994ZM40 9.375H33.6466L40 2.92391V0H29.0625V3.125H35.4159L29.0625 9.57609V12.5H40V9.375ZM36.2987 15.625C36.6737 17.0209 36.875 18.4873 36.875 20C36.875 29.3049 29.3049 36.875 20 36.875C10.6951 36.875 3.125 29.3049 3.125 20C3.125 10.6951 10.6951 3.125 20 3.125C22.1183 3.125 24.146 3.51844 26.0156 4.23422V0.917344C24.0943 0.314141 22.0714 0 20 0C14.6578 0 9.63539 2.08039 5.85781 5.85781C2.08039 9.63539 0 14.6578 0 20C0 25.3422 2.08039 30.3646 5.85781 34.1422C9.63539 37.9196 14.6578 40 20 40C25.3422 40 30.3646 37.9196 34.1422 34.1422C37.9196 30.3646 40 25.3422 40 20C40 18.5101 39.8377 17.0452 39.5224 15.625H36.2987Z" fill="white"></path>
                                    </g>
                                    <defs>
                                        <clippath id="clip3">
                                            <rect width="20" height="20" fill="white"></rect>
                                        </clippath>
                                    </defs>
                                </svg>
                            </small>
                            <span class="circle bg-info"></span>
                        </div>
                    </div>
                    <div class="dropdown mt-sm-0 mt-3 mb-0">
                        <button type="button" class="btn rounded border border-light" aria-expanded="false">
                            2 Weeks
                        </button>
                    </div>
                </div>
                <div class="card-body pt-3">
                    <div id="chartBar"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-xxl-4 col-md-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <h4 class="text-black fs-20 mb-0">Total Progress</h4>
                </div>
                <div class="card-body text-center">
                    <div id="radialBar"></div>
                    <p class="fs-14">Increase your progress by adding new item</p>
                    <a href="#" type="button" class="btn btn-outline-primary rounded" data-toggle="modal" data-target="#itemModal">Add item</a>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="itemModalLabel">Item Details</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Option, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Option, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "-- Select Item --", Value = "" },
                                                new SelectListItem { Text = "Food", Value = "Food" },
                                                new SelectListItem { Text = "Sleep Hours", Value = "Sleep Hours" },
                                                new SelectListItem { Text = "Workout", Value = "Workout" }
                                            }, new { @class = "form-control", id = "option" })
                                        </div>
                                        <div class="form-group" id="food_form">
                                            @Html.LabelFor(m => m.NutritionData.Name, new { @class = "control-label" })
                                            @{
                                                List<SelectListItem> selectList = Model.NutritionList
                                                    .Select(n => new SelectListItem
                                                    {
                                                        Text = n.Name,
                                                        Value = n.Id.ToString()
                                                    })
                                                    .ToList();
                                            }
                                            @Html.DropDownListFor(m => m.NutritionData.Name, selectList, "-- Select Item --", new { @class = "form-control" })
                                            @Html.LabelFor(m => m.FoodQuantity, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.FoodQuantity, new
                                            {
                                                placeholder = "Enter quantity of food (g)",
                                                title = "Please enter quantity of food",
                                                name = "foodquantity",
                                                id = "foodquantity",
                                                @class = "form-control"
                                            })
                                        </div>
                                        <div class="form-group" id="sleep_form">
                                            @Html.LabelFor(m => m.SleepHours, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.SleepHours, new
                                            {
                                                placeholder = "Enter sleep hours",
                                                title = "Please enter sleep hours",
                                                value = 0,
                                                name = "sleephours",
                                                id = "sleephours",
                                                @class = "form-control"
                                            })
                                        </div>
                                        <div class="form-group" id="workout_button">
                                            <a href="/Workout/Index" type="button" class="btn btn-outline-primary rounded">Go to Workout Plan</a>
                                        </div>
                                        <script>
                                                            $("#food_form").hide();
                                                            $("#workout_button").hide();
                                                            $("#sleep_form").hide();
                                                            $("#option").change(function () {
                                                                 var optionSelected = $(this).val();
                                                                 $("#food_form").toggle(optionSelected === "Food");
                                                                 $("#workout_button").toggle(optionSelected === "Workout");
                                                                 $("#sleep_form").toggle(optionSelected === "Sleep Hours");
                                                            });
                                                       </script>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
     (function ($) {
          /* "use strict" */

          function getFormattedDate(date) {
               var day = date.getDate().toString().padStart(2, '0');
               var month = (date.getMonth() + 1).toString().padStart(2, '0');
               var year = date.getFullYear();
               return day + '/' + month + '/' + year;
          }

          function getDays() {
               var dates = [];
               var today = new Date();
               for (var i = 13; i >= 0; i--) {
                    var date = new Date(today);
                    date.setDate(today.getDate() - i);
                    var formattedDate = getFormattedDate(date);
                    dates.push(formattedDate);
               }
               return dates;
          }

          var Days = getDays();
          var reducedDays = Days.map(function (date) {
               return date.substr(0, 5);
          });

          var ProgressList = @Html.Raw(JsonConvert.SerializeObject(Model.ProgressList));
          var WorkoutPacket = @Html.Raw(JsonConvert.SerializeObject(Model.Workout.WorkoutPacket.Json));
          var SleepTarget = @Html.Raw(JsonConvert.SerializeObject(Model.User.SleepHoursTarget));
          var sleep_hours = 0;
          var workout_done = 0;
          var total_workout = 0;
          var food_calories = 0;
          var calories_data = [];
          var workout_data = [];
          var sleep_data = [];
          for (var i = 0; i <= 13; i++) {
               var dateToFind = Days[i];
               var foundItem = ProgressList.find(function (item) {
                    return item.Date === dateToFind;
               });

               if (foundItem) {
                    var dateString = dateToFind;
                    var dateParts = dateString.split("/");
                    var formattedDate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                    var dayName = formattedDate.toLocaleDateString("en-US", { weekday: "long" });

                    var foundWorkoutDay = WorkoutPacket.find(function (item) {
                         return item.Day === dayName;
                    });

                    if (foundWorkoutDay) {
                         workout_data.push(foundItem.WorkoutDone * 100 / foundWorkoutDay.Exercise.length);
                         workout_done = foundItem.WorkoutDone;
                         total_workout = foundWorkoutDay.Exercise.length;
                    } else {
                         workout_data.push(100);
                    }


               } else {
                    workout_data.push(0);
               }

               if (foundItem) {
                    var calories_value = foundItem.Total.EnergyValue * 100 / @Model.User.DailyCaloricIntake;
                    food_calories = foundItem.Total.EnergyValue;
                    if (calories_value > 100) {
                         calories_data.push(100);
                    } else {
                         calories_data.push(calories_value);
                    }

               } else {
                    calories_data.push(0);
               }

               if (foundItem) {
                    var sleep_value = foundItem.SleepHours * 100 / SleepTarget;
                    sleep_hours = foundItem.SleepHours;
                    if (sleep_value > 100) {
                         sleep_data.push(100);
                    } else {
                         sleep_data.push(sleep_value);
                    }
               } else {
                    sleep_data.push(0);
               }
          }

          document.getElementById("workout_progress").innerText = workout_done + "/" + total_workout;
          document.getElementById("workout_circle").innerText = workout_done + "/" + total_workout;
          document.getElementById("nutrition_progress").innerText = parseInt(food_calories) + "/" + parseInt(@Model.User.DailyCaloricIntake);
          document.getElementById("nutrition_circle").innerText = parseInt(food_calories) + "/" + parseInt(@Model.User.DailyCaloricIntake);
          document.getElementById("sleep_progress").innerText = sleep_hours + "/" + SleepTarget;
          document.getElementById("sleep_circle").innerText = sleep_hours + "/" + SleepTarget;
          var total_progress = (workout_done * 100 / total_workout + food_calories * 100 / @Model.User.DailyCaloricIntake + sleep_hours * 100 / SleepTarget) / 3;

          var dzChartlist = function () {

               var screenWidth = $(window).width();

               var donutChart1 = function () {
                    $("span.donut1").peity("donut", {
                         width: "110",
                         height: "110"
                    });
               }
               var donutChart2 = function () {
                    $("span.donut2").peity("donut", {
                         width: "70",
                         height: "70"
                    });
               }
               var chartBar = function () {
                    var optionsArea = {
                         series: [{
                              name: "Workout",
                              data: workout_data
                         },
                         {
                              name: "Sleep Hours",
                              data: sleep_data
                         },
                         {
                              name: "Nutrition",
                              data: calories_data
                         }
                         ],
                         chart: {
                              height: 350,
                              type: 'area',
                              group: 'social',
                              toolbar: {
                                   show: false
                              },
                              zoom: {
                                   enabled: false
                              },
                         },
                         dataLabels: {
                              enabled: false
                         },
                         stroke: {
                              width: [4, 4, 4],
                              colors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                              curve: 'straight'
                         },
                         legend: {
                              show: false,
                              tooltipHoverFormatter: function (val, opts) {
                                   return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
                              },
                              markers: {
                                   fillColors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                                   width: 19,
                                   height: 19,
                                   strokeWidth: 0,
                                   radius: 19
                              }
                         },
                         markers: {
                              size: [8, 8, 8],
                              strokeWidth: [0, 0, 0],
                              strokeColors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                              border: 0,
                              colors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                              hover: {
                                   size: 10,
                              }
                         },
                         xaxis: {
                              categories: reducedDays,
                              labels: {
                                   style: {
                                        colors: '#3E4954',
                                        fontSize: '14px',
                                        fontFamily: 'Poppins',
                                        fontWeight: 100,

                                   },
                              },
                         },
                         yaxis: {
                              min: 0,
                              max: 100,
                              tickAmount: 11,
                              forceNiceScale: true,
                              labels: {
                                   offsetX: -16,
                                   style: {
                                        colors: '#3E4954',
                                        fontSize: '14px',
                                        fontFamily: 'Poppins',
                                        fontWeight: 100,

                                   },
                                   formatter: function (value) {
                                        return Math.floor(value) + '%';
                                   }
                              },
                         },
                         fill: {
                              colors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                              type: 'solid',
                              opacity: 0
                         },
                         colors: ['#6cc51d', '#1EA7C5', '#FF9432'],
                         grid: {
                              borderColor: '#f1f1f1',
                              xaxis: {
                                   lines: {
                                        show: true
                                   }
                              }
                         },
                         responsive: [{
                              breakpoint: 575,
                              options: {
                                   markers: {
                                        size: [6, 6, 4],
                                        hover: {
                                             size: 7,
                                        }
                                   }
                              }
                         }]
                    };
                    var chartArea = new ApexCharts(document.querySelector("#chartBar"), optionsArea);
                    chartArea.render();

               }

               var radialBar = function () {
                    var options = {
                         series: [Math.min(parseInt(total_progress),100)],
                         chart: {
                              height: 300,
                              type: 'radialBar',
                              offsetY: -10
                         },
                         plotOptions: {
                              radialBar: {
                                   startAngle: -135,
                                   endAngle: 135,
                                   dataLabels: {
                                        name: {
                                             fontSize: '16px',
                                             color: undefined,
                                             offsetY: 120
                                        },
                                        value: {
                                             offsetY: 0,
                                             fontSize: '34px',
                                             color: 'black',
                                             formatter: function (val) {
                                                  return val + "%";
                                             }
                                        }
                                   }
                              }
                         },
                         fill: {
                              type: 'gradient',
                              colors: '#6EC51E',
                              gradient: {
                                   shade: 'dark',
                                   shadeIntensity: 0.15,
                                   inverseColors: false,
                                   opacityFrom: 1,
                                   opacityTo: 1,
                                   stops: [0, 50, 65, 91]
                              },
                         },
                         stroke: {
                              dashArray: 4,
                              colors: '#6EC51E'
                         },
                         labels: [''],
                    };

                    var chart = new ApexCharts(document.querySelector("#radialBar"), options);
                    chart.render();
               }
               var chartTimeline = function () {

                    var optionsTimeline = {
                         chart: {
                              type: "bar",
                              height: 320,
                              stacked: true,
                              toolbar: {
                                   show: false
                              },
                              sparkline: {
                                   //enabled: true
                              },
                              backgroundBarRadius: 5,
                              offsetX: -10,
                         },
                         series: [
                              {
                                   name: "New Clients",
                                   data: [70, 20, 75, 20, 50, 40, 65, 15, 40, 55, 60, 20, 75, 40, 25, 70, 20, 40, 65, 50]
                              },
                              {
                                   name: "Retained Clients",
                                   data: [-60, -10, -50, -25, -30, -65, -22, -10, -50, -20, -70, -35, -60, -20, -30, -45, -70, -50, -45, -10]
                              }
                         ],

                         plotOptions: {
                              bar: {
                                   columnWidth: "20%",
                                   endingShape: "rounded",
                                   colors: {
                                        backgroundBarColors: ['rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)', 'rgba(0,0,0,0)'],
                                        backgroundBarOpacity: 1,
                                        backgroundBarRadius: 5,
                                        opacity: 0
                                   },

                              },
                              distributed: true
                         },
                         colors: ['#6EC51E', '#FF285C'],

                         grid: {
                              show: true,
                         },
                         legend: {
                              show: false
                         },
                         fill: {
                              opacity: 1
                         },
                         dataLabels: {
                              enabled: false,
                              colors: ['#6EC51E', '#FF285C'],
                              dropShadow: {
                                   enabled: true,
                                   top: 1,
                                   left: 1,
                                   blur: 1,
                                   opacity: 1
                              }
                         },
                         xaxis: {
                              categories: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'],
                              labels: {
                                   style: {
                                        colors: '#787878',
                                        fontSize: '13px',
                                        fontFamily: 'Poppins',
                                        fontWeight: 400

                                   },
                              },
                              crosshairs: {
                                   show: false,
                              },
                              axisBorder: {
                                   show: false,
                              },
                         },

                         yaxis: {
                              //show: false
                              labels: {
                                   style: {
                                        colors: '#787878',
                                        fontSize: '13px',
                                        fontFamily: 'Poppins',
                                        fontWeight: 400

                                   },
                              },
                         },

                         tooltip: {
                              x: {
                                   show: true
                              }
                         }
                    };
                    var chartTimelineRender = new ApexCharts(document.querySelector("#chartTimeline"), optionsTimeline);
                    chartTimelineRender.render();
               }
               /* Function ============ */
               return {
                    init: function () {
                    },


                    load: function () {
                         donutChart1();
                         donutChart2();
                         chartBar();
                         radialBar();
                         chartTimeline();
                    },

                    resize: function () {

                    }
               }

          }();

          jQuery(document).ready(function () {
          });

          jQuery(window).on('load', function () {
               setTimeout(function () {
                    dzChartlist.load();
               }, 1000);

          });

          jQuery(window).on('resize', function () {


          });

     })(jQuery);
</script>